.DS_Store
Energy-Aware-Service-Assembly/.classpath
Energy-Aware-Service-Assembly/.project
Energy-Aware-Service-Assembly/bin/.DS_Store
Energy-Aware-Service-Assembly/src/.project
Energy-Aware-Service-Assembly/src/lnu/mida/entity/EnergyAwareReputation.class
Energy-Aware-Service-Assembly/src/lnu/mida/entity/EnergyLocalReputation.class
Energy-Aware-Service-Assembly/src/lnu/mida/entity/EnergyOverallReputation.class
Energy-Aware-Service-Assembly/src/lnu/mida/entity/ResidualLifeReputation.class
Energy-Aware-Service-Assembly/.classpath
Energy-Aware-Service-Assembly/.project
Energy-Aware-Service-Assembly/bin/.DS_Store
Energy-Aware-Service-Assembly/src/.project
Energy-Aware-Service-Assembly/.project
Energy-Aware-Service-Assembly/.classpath
Energy-Aware-Service-Assembly/bin/.DS_Store
Energy-Aware-Service-Assembly/.DS_Store
Energy-Aware-Service-Assembly/.project
Energy-Aware-Service-Assembly/.RData
Energy-Aware-Service-Assembly/.Rhistory
Energy-Aware-Service-Assembly/.vscode/launch.json
Energy-Aware-Service-Assembly/.vscode/settings.json
Energy-Aware-Service-Assembly/bin/.DS_Store
Energy-Aware-Service-Assembly/ext-lib/.DS_Store
Energy-Aware-Service-Assembly/src/com/lajv/.DS_Store
